tflite-runtime==2.9.0
streamlit==1.23.0
streamlit-lottie
pillow
numpy
scipy
matplotlib
scikit-learn
joblib
packaging
pyparsing
python-dateutil
six
threadpoolctl
setuptools
wheel
requests
