streamlit==1.23.0
streamlit-lottie
tensorflow
pillow
numpy
gdown
scipy
matplotlib
scikit-learn
joblib
packaging
pyparsing
python-dateutil
six
threadpoolctl
setuptools
wheel
requests
